/* FONTS ================ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* FONTS ================ */

/* COLOUR ===============*/

.bg-blue-rpr-prm{ background-color: #30405a;}
.bg-blue-rpr-scn{ background-color: #6083be;}
.bg-blue-rpr-thr{ background-color: #5fbbf8;}

.bg-blue-rpr-prm-a2{ background-color: rgba(38, 53, 74, 0.5);}
.bg-blue-rpr-prm-a1{ background-color: rgba(48, 64, 90, 0.5);}
.bg-blue-rpr-scn-a1{ background-color: rgba(96, 130, 190, 0.5);}
.bg-blue-rpr-thr-a1{ background-color: rgba(95, 187, 248, 0.5);}

.bg-blue-rpr-thr-a2{ background: linear-gradient(218deg, rgba(39,63,90,1) 0%, rgba(65,104,149,1) 53%, rgba(79,127,182,1) 65%, rgba(83,134,192,1) 100%);}

.bg-blue-rpr-50{ background-color: #C4D3E5;}
.bg-blue-rpr-100{ background-color: #B4C4D7;}
.bg-blue-rpr-200{ background-color: #A5B5C9;}
.bg-blue-rpr-300{ background-color: #95A7BB;}
.bg-blue-rpr-400{ background-color: #97a5b9;}
.bg-blue-rpr-500{ background-color: #8598AD;}
.bg-blue-rpr-600{ background-color: #667A92;}
.bg-blue-rpr-700{ background-color: #465D76;}
.bg-blue-rpr-800{ background-color: #273F5A;}
.bg-blue-rpr-900{ background-color: #1F3248;}
.bg-blue-rpr-950{ background-color: #172636;}
.bg-blue-rpr-1000{ background-color: #101924;}
.bg-blue-rpr-1050{ background-color: #0C131B;}
.bg-blue-rpr-1100{ background-color: #080D12;}
.bg-blue-rpr-1200{ background-color: #040609;}


.bg-yellow-rpr-prm{ background-color: #e5c52b;}
.bg-yellow-rpr-scn{ background-color: #ead152;}
.bg-yellow-rpr-thr{ background-color: #f6b13d;}

.bg-yellow-rpr-50{ background-color: #FFFFFF;}
.bg-yellow-rpr-100{ background-color: #FDF9E9;}
.bg-yellow-rpr-200{ background-color: #FBF3D3;}
.bg-yellow-rpr-300{ background-color: #FAEDBD;}
.bg-yellow-rpr-400{ background-color: #F8E7A7;}
.bg-yellow-rpr-500{ background-color: #F4DC78;}
.bg-yellow-rpr-600{ background-color: #F1D04F;}
.bg-yellow-rpr-700{ background-color: #EDC423;}
.bg-yellow-rpr-800{ background-color: #BE9D1C;}
.bg-yellow-rpr-900{ background-color: #8E7615;}
.bg-yellow-rpr-950{ background-color: #5F4E0E;}
.bg-yellow-rpr-1000{ background-color: #47380B;}
.bg-yellow-rpr-1050{ background-color: #2F2707;}
.bg-yellow-rpr-1100{ background-color: #181404;}
.bg-yellow-rpr-1200{ background-color: #000000;}



.color-blue-rpr-prm{color: #30405a;}
.color-blue-rpr-scn{color: #6083be;}
.color-blue-rpr-thr{color: #5fbbf8;}

.color-blue-rpr-50{color: #C4D3E5;}
.color-blue-rpr-100{color: #B4C4D7;}
.color-blue-rpr-200{color: #A5B5C9;}
.color-blue-rpr-300{color: #95A7BB;}
.color-blue-rpr-400{color: #97a5b9;}
.color-blue-rpr-500{color: #8598AD;}
.color-blue-rpr-600{color: #667A92;}
.color-blue-rpr-700{color: #465D76;}
.color-blue-rpr-800{color: #273F5A;}
.color-blue-rpr-900{color: #1F3248;}
.color-blue-rpr-950{color: #172636;}
.color-blue-rpr-1000{color: #101924;}
.color-blue-rpr-1050{color: #0C131B;}
.color-blue-rpr-1100{color: #080D12;}
.color-blue-rpr-1200{color: #040609;}

.color-yellow-rpr-prm{color: #e5c52b;}
.color-yellow-rpr-scn{color: #ead152;}
.color-yellow-rpr-thr{color: #f6b13d;}

.color-yellow-rpr-50{color: #FFFFFF;}
.color-yellow-rpr-100{color: #FDF9E9;}
.color-yellow-rpr-200{color: #FBF3D3;}
.color-yellow-rpr-300{color: #FAEDBD;}
.color-yellow-rpr-400{color: #F8E7A7;}
.color-yellow-rpr-500{color: #F4DC78;}
.color-yellow-rpr-600{color: #F1D04F;}
.color-yellow-rpr-700{color: #EDC423;}
.color-yellow-rpr-800{color: #BE9D1C;}
.color-yellow-rpr-900{color: #8E7615;}
.color-yellow-rpr-950{color: #5F4E0E;}
.color-yellow-rpr-1000{color: #47380B;}
.color-yellow-rpr-1050{color: #2F2707;}
.color-yellow-rpr-1100{color: #181404;}
.color-yellow-rpr-1200{color: #000000;}

/* COLOUR ===============*/

/* CUSTOM =============== */
.img-cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.centered-xy {
  display: flex;
  align-items: center;
  justify-content: center;
}
.centered-x {
  display: flex;
  justify-content: center;
}
.centered-y {
  display: flex;
  align-items: center;
}

.card-4 {
  flex: 23.5%;
  height: 400px;
}

.hw-full {
  height: 100%;
  width: 100%;
}

.container-cs {
  max-width: 1180px;
  margin: auto;
}

.container-cs-w {
  max-width: 1440px;
  margin: auto;
}

.title-sect2 {
  font-size: 1.6rem;
  font-weight: 600;
}

.shadow-sect1 {
  box-shadow: -20px -20px 51px -7px rgba(0,0,0,0.3);
  -webkit-box-shadow: -20px -20px 51px -7px rgba(0,0,0,0.3);
}

/* QNA SECTION pg 1 */
.answer {
  max-height: 0;
  overflow: hidden;
  transition: .6s ease-in-out;
}
.show {
  max-height: 200px;
}

.arrow-rotate {
  rotate: 0deg;
  transition: .4s ease-in-out;
}

.arrow-rotated {
  rotate: -45deg;
}

.text-stroke {
  text-shadow: white 7px 0px 0px, white 6.92869px 0.996602px 0px, white 6.71622px 1.9729px 0px, white 6.36692px 2.909px 0px, white 5.8879px 3.78584px 0px, white 5.28893px 4.58555px 0px, white 4.5822px 5.29183px 0px, white 3.78212px 5.8903px 0px, white 2.90498px 6.36876px 0px, white 1.96865px 6.71747px 0px, white 0.992221px 6.92932px 0px, white -0.00442571px 7px 0px, white -1.00098px 6.92806px 0px, white -1.97715px 6.71498px 0px, white -2.91303px 6.36508px 0px, white -3.78956px 5.88551px 0px, white -4.58889px 5.28603px 0px, white -5.29472px 4.57885px 0px, white -5.89269px 3.77839px 0px, white -6.3706px 2.90095px 0px, white -6.71871px 1.96441px 0px, white -6.92995px 0.98784px 0px, white -6.99999px -0.00885142px 0px, white -6.92743px -1.00536px 0px, white -6.71372px -1.98139px 0px, white -6.36324px -2.91705px 0px, white -5.88311px -3.79328px 0px, white -5.28313px -4.59223px 0px, white -4.57551px -5.29762px 0px, white -3.77467px -5.89507px 0px, white -2.89692px -6.37243px 0px, white -1.96016px -6.71995px 0px, white -0.983458px -6.93057px 0px, white 0.0132771px -6.99999px 0px, white 1.00974px -6.92679px 0px, white 1.98564px -6.71247px 0px, white 2.92107px -6.36139px 0px, white 3.797px -5.88071px 0px, white 4.59557px -5.28022px 0px, white 5.30051px -4.57215px 0px, white 5.89746px -3.77094px 0px, white 6.37426px -2.89289px 0px, white 6.72119px -1.95591px 0px, white 6.93119px -0.979076px 0px;
}

/* Hover Main */
.btn-one {
  transition: .5s;
}

.btn-one:hover {
  box-shadow: inset 220px 0 white;
  color: #273F5A;
}

.btn-second {
  transition: .5s;
  background-color: white;
  color: #5386C0;
}

.btn-second:hover {
  transform: translateY(-3px);
}

.play-button {
  position: relative;
  width: 80px; 
  height: 80px;
  border: 3px solid #ffd700;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.play-button::before {
  content: '';
  position: absolute;
  border: 2px solid #EDC423;
  border-radius: 50%;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  animation: bloom1 1.5s linear infinite;
  opacity: 0;
  z-index: 1;
}

.play-button::after {
  content: '';
  position: absolute;
  border: 2px solid #EDC423;
  border-radius: 50%;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  animation: bloom2 1.5s linear infinite;
  opacity: 0;
  z-index: 1;
  animation-delay: .4s;
}

.play-button:hover {
  transform: scale(1.1);
}

@keyframes bloom1 {
  0% {
    transform: scale(.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes bloom2 {
  0% {
    transform: scale(.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
  }
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  left: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 1000;
  transition: .5s ease;
}

.float:hover {
  box-shadow: inset 0 -60px #fff;
  color: #25d366;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  top: 50px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: #273F5A;
  padding: 12px 16px;
  font-weight: 600;
  text-decoration: none;
  display: block;
  font-size: 15px
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {display: block;}

/* Hover Main */

.img-hover-zoom--quick-zoom img {
  transition: 1s ease;
  filter: brightness(50%);
}

.img-hover-zoom--quick-zoom:hover img {
  transform: scale(1.2);
  filter: brightness(100%);
}

.btn {
  transition: .5s;
}

.btn:hover {
  box-shadow: inset 0 -60px white;
  color: #5386C0;
  transform: translateY(-2px);
}

.btn-bg {
  transition: .2s;
  &:hover {
      box-shadow: inset 0 -50px #5386C0;
      color: white;
  }
}
.btn-bg-click {
  color: white;
  background: #5386C0;
}
/* NAVBAR */
.goDown {
  animation: navDown .5s ease;
}
@keyframes navDown {
  0% {
      transform: translateY(-100%);
      opacity: 0;
  }

  100% {
      transform: translateY(0);
      opacity: 1;
  }
}


.resGoDown {
  animation: navRespoDown .3s linear;
}

@keyframes navRespoDown {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }

  100% {
      transform: translateX(0);
      opacity: 1;
  }
}


.nav-close {
  animation: nav-close .7s ease;
}

@keyframes nav-close {
  0% {
      transform: translateX(0);
      opacity: 1;
  }
  100% {
      transform: translateX(100%);
      opacity: 0;
  }
}

/* === Pop up Image === */
// .hidden {
//   opacity: 0;
//   visibility: hidden;
//   transition: opacity 0.5s ease, visibility 0.5s ease;
// }

// .show {
//   opacity: 1;
//   visibility: visible;
// }

// .video-popup {
//   transition: opacity 0.5s ease, visibility 0.5s ease;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100vw;
//   height: 100vh;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 9999;
// }
/* === Pop up Image === */
